name: Package for as .deb

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-debian-package:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm

    steps:
      - name: Check out source
        uses: actions/checkout@v4

      - name: Install build tools
        run: |
          apt-get update
          apt-get install -y --no-install-recommends build-essential

      - name: Install build dependencies from debian/control
        run: |
          apt-get -y build-dep .

      - name: Build source and binary packages
        run: |
          dpkg-buildpackage -us -uc

      - name: Upload Debian packages
        uses: actions/upload-artifact@v4
        with:
          name: debian-packages
          path: |
            ../*.deb
            ../*.dsc
            ../*.changes
            ../*.tar.*
